@*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2020, Dale Sinder
    **
    **  Name: NoteIndex.razor
    **
    **  Description: Displays the main file index grid
    **     Base notes and expands to show responses
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http: //www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------*@

@page "/noteindex/{NotesfileId:int}"

<h3>Note Index</h3>

@if (Model == null)
{
    <p class="center"><em>Loading...</em></p>
}
else
{
    <p>@Model.message</p>
    <h3 class="center">@Model.noteFile.NoteFileName - @Model.noteFile.NoteFileTitle</h3>

    <div>
        <ListMenu Model=@Model @ref="@MyMenu"></ListMenu>
    </div>
    @if (@Model.myAccess.ReadAccess)
    {
        <div class="col-lg-12 control-section dialoglist">
            <div class="content-wrapper">
                <div class="row">
                    <SfGrid DataSource="@Model.Notes">

                        <GridEvents RowSelected="DisplayIt" TValue="NoteHeader"></GridEvents>
                        <GridColumns>
                            <GridColumn Field=@nameof(NoteHeader.NoteOrdinal) HeaderText="#" TextAlign="TextAlign.Left" Width="25" IsPrimaryKey="true"></GridColumn>
                            <GridColumn Field=@nameof(NoteHeader.NoteSubject) HeaderText="Subject" TextAlign="TextAlign.Left" Width="150"></GridColumn>
                            <GridColumn Field=@nameof(NoteHeader.AuthorName) HeaderText="Writer" TextAlign="TextAlign.Left" Width="80"></GridColumn>
                            <GridColumn Field=@nameof(NoteHeader.CreateDate) HeaderText="Date/Time" TextAlign="TextAlign.Left" Width="60">
                                <Template Context="inner">
                                    @{
                                var itemx = (inner as NoteHeader);
                                <span>@Globals.LocalTimeBlazor(itemx.CreateDate)</span>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field=@nameof(NoteHeader.ResponseCount) HeaderText="Responses" TextAlign="TextAlign.Left" Width="40"></GridColumn>
                </GridColumns>

            </SfGrid>
        </div>
    </div>
</div>
        <div class="arrow1">
            <div>
                Navigate: <SfTextBox @ref="@sfTextBox" ShowClearButton="true" Placeholder="b# | b#.r#*"
                @bind-Value="@NavString" Input="@NavInputHandler" @onkeyup="@KeyUpHandler"></SfTextBox>
            </div>
        </div>
    }

}
